Package: com.blakeboxberger.roman
Name: Roman
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Turn the modern iOS status bar time to Roman numerals!
Maintainer: Blake Boxberger
Author: Blake Boxberger
Section: Tweaks
